project:
  type: website
  output-dir: _site
  resources:
    - private/

extensions:
  - iconify
  - fontawesome
  - bluesky-comments

website:
  title: "The Renz Nest"
  site-url: https://renznest.com
  description: "Honest information out in the open"
  open-graph: true
  cookie-consent: true
  google-analytics: 'G-TJEDVLDBLF'
  page-navigation: true
  navbar:
    background: light
    search: true
    left:
      - text: "Home"
        href: index.qmd
      - text: "Blog"
        href: blog.qmd
    right:
      - text: "{{< iconify fa6-brands:bluesky >}}"
        href: "https://bsky.app/profile/renznest.com"
        aria-label: "BlueSky"
      - icon: github
        href: "https://github.com/erikrenz88"
      - icon: rss
        href: index.xml
      - icon: envelope
        href: mailto:erik@renznest.com

format:
  html:
    theme:
      light: [cosmo, _themes/custom/custom.scss]
    toc: true
    fontawesome: true

page-layout: full

bluesky-comments:
  profile: "erik@renznest.com"
  enabled: true
  app-password: true
  post-url: true
  
execute:
  echo: false
  message: false
  warning: false
  freeze: auto
  cache: true
