# Core Libraries
requests
logging
pandas
polars
numpy
re
urllib3
beautifulsoup4
python-dotenv
concurrent.futures
matplotlib
seaborn
yaml
nbformat

# Google Drive Authentication & Downloading
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydrive2

# Quarto & Jupyter Execution
jupyter
jupyter-cache
nbclient
